body{
font-family: Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#111;
color:white;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

p{
font-size:18px;
margin-top:30px;
} 
