body {
font-family: Arial;
background-color: #f2f2f2;
margin:0;
}

header {
background-color: green;
color:white;
padding:20px;
text-align:center;
}

section {
background:white;
margin:10px;
padding:20px;
border-radius:5px;
}

footer {
background:black;
color:white;
text-align:center;
padding:10px;
  }
